body {
    background-color: powderblue;
}
header{
	background-color: #cb3362;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

header h1{
	text-align: center;
}

section{
	background-color: transparent;
	position: relative;
	width: 60%;
	height: 80%%;
}

section form img{
	 border-radius: 50%;

}

input{

	text-align: center;
	width: 40%;
    padding: 20px 30px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}


footer {
	background-color: #cb3362;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
}